@media (min-width: 1600px) {

	/* 헤더 부분 */
    .header {
	    background-size: auto calc(50vh + 50px);
        background-position: center top;
    }
	
	.header-title {
        font-size: 40px;
		padding: 25vh 0;
    }
	
	/* navbar 부분 */
    .navbar {
        height: 49px;
        padding: 0 150px;
    }

    .navbar-title {
        font-size: 20px;
        padding: 12px 20px;
    }

    .google-login img {
        height: 45px;
        padding: 2px 0;
    }

    /* side 부분 */
    .row-side {
        width: 300px;
        padding: 20px 50px;
        background-color: #f0f0f0;
        overflow: hidden;
        text-align: center;
        flex-direction: column;
    }

    .row-side a {
        color: #000;
        font-size: 18px;
        padding: 4px 0;
        text-decoration: none;
        display: inline-block;
    }

    .row-side ul {
        width: 300px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

    .row-side ul:hover {
        background-color: #ECD9FF;
        border-radius: 10px;
    }
	
    /* main 부분 */
    .row-main {
        width: calc(100vw - 420px);
    }

    .main-middle {
        font-size: 20px;
        padding: 12px;
        margin: 10px 0;
    }

    .list-select {
        width: calc((100vw - 430px) / 5);
        /*side 400px + padding 20px + scroll 10px = 430px*/
    }

    .list-img img {
        width: calc((100vw - 470px) / 5);
        /*side 400px + padding 20px + scroll 10px + img pading 4px x 2 x 5 = 470px*/
        height: calc(((100vw - 470px) / 5) * 1.5);
        padding: 4px 4px 0 4px;
    }

    .list-title {
        height: 100px;
        padding: 0 4px 4px 4px;
        font-size: 18px;
    }

    footer {
        padding: 12px 0px;
        font-size: 20px;
    }

    #gttopbtn {
        padding: 15px 30px;
        bottom: 30px;
        right: 30px;
        font-size: 18px;
    }

}