body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

/* 헤더 부분 */
.header {
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header-title {
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 20px black;
}

/* navbar 부분 */
.navbar {
    top: -1px;
    overflow: hidden;
    position: sticky;
    background-color: #D3ABFB;
    background-image: linear-gradient(62deg, #D3ABFB 20%, #75B8FB 100%);
}

.navbar-title {
    float: left;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.google-login {
    float: right;
}

.google-login img {
    width: auto;
}

/* row */
.row {
    display: flex;
}

/* main 부분 */

.row-main {
    padding: 0 10px;
}
	
.main-middle {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #D3ABFB;
    background-image: linear-gradient(62deg, #D3ABFB 10%, #75B8FB 105%);
    border-radius: 10px;
}

.main-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-list :hover {
    background-color: #dddddd;
    border-radius: 10px;
}

.list-select a {
    text-decoration: none;
}

.list-img img {
    align-content: center;
    object-fit: cover;
    border-radius: 10px;
}

.list-title {
    width: auto;
    color: #000000;
    text-align: center;
    align-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* footer부분 */
footer {
    text-align: center;
    color: #ffffff;
    background-color: #D3ABFB;
    background-image: linear-gradient(62deg, #D3ABFB 20%, #75B8FB 100%);
}

#gttopbtn {
    display: none;
    position: fixed;
    font-weight: bold;
    color: #ffffff;
    border: none;
    outline: none;
    background-color: #439FFA;
    cursor: pointer;
    border-radius: 10px;
}

#gttopbtn:hover {
    color: #000000;
    background-color: #A7D2FC;
}