@media (max-width: 1600px) {

    .navbar {
        height: 45px;
        padding: 0 4vw;
        margin: 10px 0;
    }

    .navbar a {
        padding: 0 8px;
        font-size: 18px;
        line-height: 45px;
    }

    .navbar a.main-title:hover {
        text-shadow: 0 0 16px black;
    }

    .navbar a.next {
        text-shadow: none;
    }
	
    .navbar a.year {
        text-shadow: none;
    }

    .navbar a.sub-title {
        text-shadow: none;
    }

	.navbar a.sub-menu:hover {
        text-shadow: 0 0 16px black;
    }

    .video-page {
        grid-template-columns: 96vw;
        grid-template-rows: 54vw 27px 27px auto;
        gap: 4px;
        padding: 0 0 10px 0;
    }

    .main-video {
        width: 96vw;
        height: 54vw;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .video-main iframe {
        width: 96vw;
        height: 54vw;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #main-video-title {
        font-size: 20px;
		padding: 0 0 0 10px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 20px;
		padding: 0 0 0 10px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: 96vw;
        height: calc(100vh - 54vw - 141px);
        /*navbar 65px + gap 12px + text 54px + bottom padding 10px*/
        min-height: 400px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .main-playlist::-webkit-scrollbar {
        width: 8px;
    }

    .main-playlist::-webkit-scrollbar-thumb {
        border-radius: 8px;
    }

    .playlist-img {
        width: 240px;
        height: 135px;
        padding: 2px 4px;
    }

    .playlist-title {
        width: calc(96vw - 264px);
        /*padding 8px + img 240px + scrollbar 8px + title padding 8px*/
        font-size: 20px;
        padding: 0 0 0 10px;
    }

}