@media (max-width: 720px) {

    .navbar {
        height: 31px;
        padding: 0 calc((100vw - 95vw) / 2);
        margin: 8px 0;
        text-align: center
    }

    .navbar a {
        float: none;
        padding: 0 20px;
        font-size: 12px;
		line-height: 31px;
    }

    .navbar a:hover {
        text-shadow: 0 0 10px black;
    }

    .navbar a.next {
        display: none;
    }

    .navbar a.year {
        display: none;
    }

    .navbar a.title {
        display: none;
    }

    .video-page {
        grid-template-columns: 95vw;
        grid-template-rows: 53.4375vw 19px 19px auto;
        gap: 4px;
        padding: 0 0 10px 0;
    }

    .main-video {
        width: 95vw;
        height: 53.4375vw;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .main-video img {
        width: 95vw;
        height: 53.4375vw;
    }

    .iframe-container iframe {
        width: 95vw;
        height: 53.4375vw;
    }

    #main-video-title {
        font-size: 14px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 14px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: 95vw;
        height: calc(100vh - 53.4375vw - 107px);
        /*navbar 47px + gap 12px + text 38px + bottom padding 10px*/
        min-height: 400px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .playlist-img {
        width: 120px;
        height: 90px;
        padding: 2px;
    }

    .playlist-title {
        width: calc(95vw - 138px);
        /*padding 4px + img 120px + scrollbar 8px + title padding 6px*/
        font-size: 10px;
        padding: 0 0 0 6px;
    }

}