@media (min-width: 1601px) {

    .navbar {
        height: 51px;
        padding: 0 calc((40vw - 600px) / 2);
        /*100vw-iframe60vw-playlist600px*/
        margin: 20px 0;
    }

    .navbar a {
        padding: 12px 10px;
        font-size: 20px;
    }

    .navbar a:hover {
        text-shadow: 0 0 20px black;
    }

    .navbar a.next {
        text-shadow: none;
    }

    .navbar a.year {
        text-shadow: none;
    }

    .navbar a.title {
        text-shadow: none;
		overflow: hidden;
    }

    .video-page {
        grid-template-columns: 60vw 600px;
        grid-template-rows: 33.75vw 32px 32px;
        gap: 10px;
    }

    .main-video {
        width: 60vw;
        height: 33.75vw;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .main-video img {
        width: 60vw;
        height: 33.75vw;
    }

    .iframe-container iframe {
        width: 60vw;
        height: 33.75vw;
    }

    #main-video-title {
        font-size: 24px;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 24px;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: 600px;
        height: 33.75vw;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .main-playlist::-webkit-scrollbar {
        width: 10px;
    }

    .main-playlist::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }

    .playlist-img {
        width: 160px;
        height: 90px;
        padding: 4px;
    }

    .playlist-title {
        width: calc(600px - 188px);
        /*padding 8px+img 160px+scrollbar 10px+title padding 10px*/
        font-size: 18px;
        padding: 0 0 0 10px;
    }

}