@media (min-width: 1530px) {

    body::-webkit-scrollbar {
        display: block;
        width: 10px;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #aaaaaa;
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 10px;
    }

    .navbar {
        height: 51px;
        padding: 0 max(60px, calc((100vw - 2300px) / 2));
        margin: 12px 0;
    }

    .navbar a {
        float: left;
        padding: 0 12px;
        font-size: 20px;
        line-height: 51px;
    }

    .navbar a.main-title:hover {
        text-shadow: 0 0 20px black;
    }

    .navbar a.next {
        display: block;
        text-shadow: none;
    }
    
    .navbar a.year {
        display: block;
        text-shadow: none;
    }

    .navbar a.sub-menu {
        display: block;
    }

    .navbar a.sub-title {
        display: block;
        text-shadow: none;
    }

    .navbar a.sub-menu:hover {
        display: block;
        text-shadow: 0 0 16px black;
    }

    .video-page {
        grid-template-columns: min(1760px, calc(100vw - 590px)) 560px;
        grid-template-rows: min(990px, calc((100vw - 590px) * 0.5625)) 30px 30px;
        gap: 8px 4px;
        padding: 0;
    }
		
    .main-video {
        width: calc(100vw - 590px);
        height: calc((100vw - 590px) * 0.5625);
        max-width: 1760px;
        max-height: 990px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        overflow: hidden;
    }
    
    .video-main iframe {
        width: calc(100vw - 590px);
        height: calc((100vw - 590px) * 0.5625);
        max-width: 1760px;
        max-height: 990px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        overflow: hidden;
    }

    #main-video-title {
        font-size: 22px;
        padding: 0 0 0 20px;
        margin: 0;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 22px;
        padding: 0 0 0 20px;
        margin: 0;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: 560px;
        height: calc((100vw - 590px) * 0.5625);
        max-height: 990px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .main-playlist::-webkit-scrollbar {
        width: 10px;
    }

    .main-playlist::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }

    .playlist-img {
        width: 224px;
        height: 126px;
        padding: 2px 4px;
    }

    .playlist-title {
        width: 310px;
        font-size: 18px;
        padding: 0 0 0 8px;
    }

    #gttopbtn {
        display: none;
    }

}

@media (min-width: 2420px) {

    #main-video-title {
        padding: 0 0 0 20px;
    }

    #main-video-subtitle {
        padding: 0 0 0 20px;
    }

}