body::-webkit-scrollbar-thumb {
    background-color: #87CBFF;
}

body::-webkit-scrollbar-track {
    background-color: #D4ECFF;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1jFqs1Oufh_1kDY_uMzMV-WvB29dPe5gx=w3840-h2160);
}

.navbar {
    background-color: #BAE1FF;
}

.navbar a:hover {
    background-color: #D4ECFF;
}

.navbar a.active {
    background-color: #87CBFF;
}

.navbar a.next {
    background-color: #BAE1FF;
}

footer {
    background-color: #BAE1FF;
}

#gttopbtn {
    background-color: #87CBFF;
}

#gttopbtn:hover {
    background-color: #D4ECFF;
}