body {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 1rem 2rem;
}



.main-video {
	width: 50vw;
	max-width: 1280px;
	max-height: 720px;
	padding: 0rem 0.5rem;
	display: flex;
}

.main-video li {
  flex: 1; /* 각 요소가 공간을 동일하게 차지 */
}

.main-video img{
	width: 50vw;
	height: 28.125vw;
    max-width: 1280px;
	max-height: 720px;
	border: 0px;
	border-radius: 10px;
	overflow: hidden
}

.iframe-container iframe {
	width: 50vw;
	height: 28.125vw;
	max-width: 1280px;
	max-height: 720px;
	border: 0px;
	border-radius: 10px;
	z-index: 1;
}



.main-playlist {
	width: 500px;
	height: 28.125vw;
	padding: 0rem 0.5rem;
	overflow-x: hidden;
	overflow-y: scroll;
}

.main-playlist :hover {
	background-color: #f1f1f1;
    border-radius: 10px;
}

.playlist-main {
	padding: 0px;
	margin: 0px;
    border-radius: 10px;
    cursor: pointer;
	display: flex;
	flex-direction: row;
}

.playlist-img img {
	width: 160px;
	height: 90px;
	border-radius: 10px;
	align-content: center;
}

.playlist-title {
	align-content: center;
	font-size: 1rem;
    font-weight: bold;
	padding: 1rem;
}

@media (max-width: 1280px) {

.main {
	padding: 0.5rem 1rem;
}

.main-video {
	width: 95vw;
	height: 53.4375vw;
	padding: 0.5rem;
}

.main-video img{
	width: 95vw;
	height: 53.4375vw;
}

.iframe-container iframe {
	width: 95vw;
	height: 53.4375vw;
}

.main-playlist {
	width: 95vw;
	height: 520px;
	padding: 0.5rem;
}

.playlist-img img {
	width: 160px;
	height: 90px;
}

.playlist-title {
	align-content: center;
	font-size: 1rem;
    font-weight: bold;
	padding: 1rem;
}

}