html {
    scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
    font-family: 'Quicksand';
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.main-playlist::-webkit-scrollbar {
    width: 10px;
}

.main-playlist::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}