ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.video-page {
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-video {
    max-width: 1280px;
    max-height: 720px;
    display: flex;
}

.main-video img {
    border: 0px;
    border-radius: 10px;
    overflow: hidden;
}

.iframe-container iframe {
    border: 0px;
    border-radius: 10px;
    flex: 1;
    z-index: 1;
}

#main-video-title {
    padding: 0 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#main-video-subtitle {
    padding: 0 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-playlist {
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow-y: scroll;
}

.main-playlist :hover {
    background-color: #dddddd;
    border-radius: 10px;
}

.playlist-main {
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.playlist-img {
    overflow: hidden;
}

.playlist-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.playlist-title {
    align-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}