@media (max-width: 640px) {

.video-page {
	grid-template-columns: 98vw;
	grid-template-rows: 55.125vw 15px 500px; 
	padding: 0.5rem 0rem;
}

.main-video {
	width: 98vw;
	height: 55.125vw;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.main-video img{
	width: 98vw;
	height: 55.125vw;
}

.iframe-container iframe {
	width: 98vw;
	height: 55.125vw;
}

.main-video-title {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

#main-video-title {
	font-size: 0.6rem;
  }

.main-playlist {
	width: 98vw;
	height: 500px;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

.playlist-title {
	font-size: 0.6rem;
	padding: 0 0 0 0.6rem;
}

}