body::-webkit-scrollbar-thumb {
    background-color: #FFC107;
}

body::-webkit-scrollbar-track {
    background-color: #FFEDBB;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1m6RUnbXZ0I4b6nKoLBYAth2zpUi2veOz=w3840-h2160);
}

.navbar {
    background-color: #FFE083;
}

.navbar a:hover {
    background-color: #FFEDBB;
}

.navbar a.active {
    background-color: #FFC107;
}

.navbar a.next {
    background-color: #FFE083;
}

footer {
    background-color: #FFE083;
}

#gttopbtn {
    background-color: #FFC107;
}

#gttopbtn:hover {
    background-color: #FFEDBB;
}