body::-webkit-scrollbar-thumb {
    background-color: #D1A1F2;
}

body::-webkit-scrollbar-track {
    background-color: #F2E4FB;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1GuZiV1SlifQ1asLPBXw8qlZqWNFZF-po=w3840-h2160);
}

.navbar {
    background-color: #E7CEF8;
}

.navbar a:hover {
    background-color: #F2E4FB;
}

.navbar a.active {
    background-color: #D1A1F2;
}

.navbar a.next {
    background-color: #E7CEF8;
}

footer {
    background-color: #E7CEF8;
}

#gttopbtn {
    background-color: #D1A1F2;
}

#gttopbtn:hover {
    background-color: #F2E4FB;
}