body::-webkit-scrollbar-thumb {
    background-color: #CB96FF;
}

body::-webkit-scrollbar-track {
    background-color: #ECD9FF;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/14YFZXOlIzVMShY7GeHYuLnnxyTcoG3W8=w3840-h2160);
}

.navbar {
    background-color: #E0C3FC;
    background-image: linear-gradient(62deg, #E0C3FC 20%, #8EC5FC 120%);
}

.navbar a:hover {
    background-color: #ECD9FF;
}

.navbar a.active {
    background-color: #CB96FF;
}

.navbar a.next {
    background-color: #E4C9FF;
}

.navbar a.google-login:hover {
    color: transparent;
    background-color: transparent;
}

footer {
    background-color: #E0C3FC;
    background-image: linear-gradient(62deg, #E0C3FC 20%, #8EC5FC 120%);
}

#gttopbtn {
    background-color: #CB96FF;
}

#gttopbtn:hover {
    background-color: #ECD9FF;
}

.list a table tr td {
    width: 300px;
    text-align: center;
}

.list a table tr img {
    width: 300px;
    height: 415px;
    object-fit: cover;
}
