html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    font-weight: bold;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px white;
}

img {
    border-radius: 10px;
    padding: 0px;
    border: none;
}

iframe {
    width: 70vw;
    height: 39.375vw;
    border: 0px;
    border-radius: 10px;
}

/* 헤더 부분 */
.header {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20vh 1vh;
}

.header h1 {
    font-size: 40px;
}

.shadow {
    text-shadow: 0px 0px 20px black;
}

/* navbar 부분 */
.navbar {
    overflow: hidden;
    position: sticky;
    top: 0px;
    padding: 0px 5%;
    height: 49px;
}

.navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    color: #000;
}

.navbar a.active {
    color: white;
}

.navbar a.next {
    color: white;
}

.navbar a.google-login {
    float: right;
    padding: 0;
    margin: 0;
}

.google-login-img {
    width: auto;
    height: auto;
}

.announce {
    float: right;
    font-size: 20px;
    color: #ff0000;
    text-align: center;
    border: 0px;
    padding: 12px 0px;
    text-decoration: none;
}

.series {
    float: right;
}

/* row */
.row {
    display: flex;
}

/* 사이드 부분 */
.side {
    background-color: #f1f1f1;
    padding: 20px 50px;
    width: 400px;
}

.year {
    overflow: hidden;
    background-color: #f1f1f1;
    width: 300px;
    padding: 0px 0px;
    top: 60px;
}

.year a {
    float: left;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}

.year a:hover {
    background-color: #ECD9FF;
    color: #000;
    border-radius: 10px;
}

.year table td {
    width: 300px;
    height: 50px;
    text-align: center;
}

.side-thumb-img {
    width: 300px;
    height: auto;
}

/* 메인 부분 */
.main {
    background-color: white;
    padding: 20px;
    text-decoration: none;
}

.middle {
    text-align: center;
    padding: 12px 0px;
    font-size: 20px;
    background-color: #E0C3FC;
    background-image: linear-gradient(62deg, #E0C3FC 20%, #8EC5FC 120%);
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
}

.list {
    overflow: hidden;
    background-color: #ffffff;
}

.list a {
    overflow: hidden;
    background-color: #ffffff;
    float: left;
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.list a:hover {
    background-color: #f1f1f1;
    color: #000;
    border-radius: 10px;
}

.main-thumb-img {
    width: 300px;
    height: 415px;
    object-fit: cover;
}

.main-title {
    height: 60px;
    text-align: center;
}

.random-img {
    width: 300px;
    height: auto;
    margin: 0px 0px 10px 0px;
}

.playlist {
    overflow: hidden;
    background-color: #ffffff;
    float: left;
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.playlist :hover {
    background-color: #f1f1f1;
    color: #000;
    border-radius: 10px;
}

.playlist a {
    overflow: hidden;
    background-color: #ffffff;
    float: left;
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.playlist a:hover {
    background-color: #f1f1f1;
    color: #000;
    border-radius: 10px;
}

.playlist-num {
    text-align: center;
    width: 40px;
}

.playlist-img {
    text-align: center;
}

.playlist-img img {
    width: 560px;
    height: 315px;
}

.playlist-title {
    padding: 30px;
    width: 80vw;
}

/* 영상 부분 */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay-content {
    position: relative;
    width: 75vw;
    height: 42.1875vw;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.overlay-media {
    position: relative;
    width: 70vw;
    height: auto;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    font-size: 18px;
}

.overlay a {
  padding: 100%;
  text-decoration: none;
  display: block;
}

.overlay .closebtn {
    position: absolute;
}

button {
    font-weight: bold;
}

#gttopbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 12px 0px;
    font-size: 20px;
    color: #ffffff;
}

/* 1400px */
@media (max-width: 1400px) {

.header {
    padding: 15vh 1vh;
}

.side {
    display: none;
}

}

/* 700px */
@media (max-width: 700px) {

.header {
    padding: 10vh 1vh;
}

.side {
    display: none;
}

}
