html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    font-weight: bold;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px white;
}

img {
    border-radius: 10px;
    padding: 0px;
    border: none;
}

iframe {
    width: 70vw;
    height: 39.375vw;
    border: 0px;
    border-radius: 10px;
}

p {
	padding: 10px;
	margin: 0px;
}

/* 헤더 부분 */
.header {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20vh 1vh;
}

.header h1 {
    font-size: 40px;
}

.shadow {
    text-shadow: 0px 0px 20px black;
}

/* navbar 부분 */
.navbar {
    overflow: hidden;
    position: sticky;
    top: 0px;
    padding: 0px 5%;
    height: 49px;
}

.navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    color: #000;
}

.navbar a.active {
    color: white;
}

.navbar a.next {
    color: white;
}

.navbar a.google-login {
    float: right;
    padding: 0;
    margin: 0;
}

.google-login-img {
    width: auto;
    height: auto;
}

/* row */
.row {
    display: flex;
}

/* 사이드 부분 */
.side {
    background-color: #f1f1f1;
    padding: 20px 50px;
    width: 400px;
}

.year {
    overflow: hidden;
    background-color: #f1f1f1;
    width: 300px;
    padding: 0px 0px;
    top: 60px;
}

.year a {
    float: left;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}

.year a:hover {
    background-color: #ECD9FF;
    color: #000;
    border-radius: 10px;
}

.year table td {
    width: 300px;
    height: 50px;
    text-align: center;
}

.side-thumb-img {
    width: 300px;
    height: auto;
}

.random-img {
    width: 300px;
    height: auto;
    margin: 0px 0px 10px 0px;
}

/* 메인 부분 */
.main {
    padding: 20px;
    text-decoration: none;
}

.middle {
    text-align: center;
    padding: 12px;
    font-size: 20px;
    background-color: #E0C3FC;
    background-image: linear-gradient(62deg, #E0C3FC 20%, #8EC5FC 120%);
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
}

.list {
    overflow: hidden;
    background-color: #ffffff;
	padding: 0px;
	margin: 0px;
}

.list a {
    overflow: hidden;
	float: left;
    background-color: #ffffff;
    color: #000;
    text-decoration: none;
}

.list a:hover {
    background-color: #f1f1f1;
    color: #000;
    border-radius: 10px;
}

.main-thumb-img {
    width: 13vw;
    height: 19.5vw;
    object-fit: cover;
}

.main-title {
    width: 13vw;
    height: 60px;
    font-size: 18px;
    text-align: center;
	word-break: keep-all;
}

/* 영상 사진 메인 부분 */
.playlist {
    overflow: hidden;
    background-color: #ffffff;
    float: left;
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.playlist :hover {
    background-color: #f1f1f1;
    color: #000;
    border-radius: 10px;
}

.playlist a {
    overflow: hidden;
    background-color: #ffffff;
    float: left;
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.playlist a:hover {
    background-color: #f1f1f1;
    color: #000;
    border-radius: 10px;
}

.playlist-num {
    text-align: center;
    width: 40px;
}

.playlist-img {
    text-align: center;
}

.playlist-img img {
    width: auto;
    height: 315px;
}

.playlist-title {
    padding: 30px;
    width: 80vw;
}

/* 영상 부분 */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay-content {
    position: relative;
    width: 75vw;
    height: 42.1875vw;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.overlay-media {
    position: relative;
    width: 70vw;
    height: auto;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    font-size: 18px;
}

.overlay a {
  padding: 100%;
  text-decoration: none;
  display: block;
}

.overlay .closebtn {
    position: absolute;
}

button {
    font-weight: bold;
}

#gttopbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 12px 0px;
    font-size: 20px;
    color: #ffffff;
}

/* 1400px */
@media (max-width: 1400px) {

p {
	padding: 6px;
}

.header h1 {
    font-size: 20px;
}

.header h4 {
    font-size: 12px;
}

.side {
    display: none;
}

.navbar {
    height: 31px;
}

.navbar a {
    padding: 8px 16px;
    font-size: 12px;
}

.google-login-img {
    width: auto;
    height: 29px;
}

.main {
    padding: 15px;
}

.middle {
    padding: 8px 0px;
    font-size: 12px;
}
	
.main-thumb-img {
    width: 18vw;
    height: 27vw;
}

.main-title {
    width: 18.2vw;
    height: 40px;
    font-size: 12px;
}

.playlist {
    font-size: 12px;
}

.playlist a {
    font-size: 12px;
	margin: auto;
}

.playlist-num {
    width: 20px;
}

.playlist-img img {
    width: auto;
    height: 135px;
}

.playlist-title {
    padding: 20px;
}

iframe {
    width: 55vw;
    height: 30.9375vw;
}

.overlay-content {
    width: 55vw;
    height: 30.9375vw;
}

.overlay-media {
    width: 55vw;
    height: auto;
    font-size: 12px;
}

#gttopbtn {
    bottom: 15px;
    right: 20px;
    font-size: 12px;
    padding: 12px 24px;
}

footer {
    font-size: 12px;
    padding: 10px 0px;
}

}


/* 670px */
@media (max-width: 670px) {

p {
	padding: 4px;
}

.header {
    padding: 10vh 1vh;
}

.header h1 {
    font-size: 20px;
}

.header h4 {
    font-size: 10px;
}

.side {
    display: none;
}

.navbar {
    height: 29px;
}

.navbar a {
    padding: 8px 12px;
    font-size: 10px;
}

.google-login-img {
    width: auto;
    height: 27px;
}

.main {
    padding: 5px;
}

.middle {
    padding: 8px 0px;
    font-size: 10px;
}

.main-thumb-img {
    width: 30vw;
    height: 45vw;
}

.main-title {
    width: 30vw;
    height: 40px;
    font-size: 10px;
}

.playlist {
    font-size: 10px;
}

.playlist a {
    font-size: 10px;
}

.playlist-num {
    width: 10px;
}

.playlist-img img {
    width: auto;
    height: 90px;
}

.playlist-title {
    padding: 5px;
}

iframe {
    width: 95vw;
    height: 53.4375vw;
}

.overlay-content {
    width: 95vw;
    height: 53.4375vw;
}

.overlay-media {
    width: 95vw;
    height: auto;
    font-size: 10px;
}

#gttopbtn {
    bottom: 10px;
    right: 20px;
    font-size: 10px;
    padding: 10px 20px;
}

footer {
    font-size: 10px;
    padding: 8px 0px;
}

}

