body::-webkit-scrollbar-thumb {
    background-color: #FF2400;
}

body::-webkit-scrollbar-track {
    background-color: #FF725A;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1B0JmUwtY25ROzrMe3l3xiMVMuQ1meKUB=w3840-h2160);
}

.navbar {
    background-color: #FF4F32;
}

.navbar a:hover {
    background-color: #FF725A;
}

.navbar a.active {
    background-color: #FF2400;
}

.navbar a.next {
    background-color: #FF4F32;
}

footer {
    background-color: #FF4F32;
}

#gttopbtn {
    background-color: #FF2400;
}

#gttopbtn:hover {
    background-color: #FF725A;
}

.navbar a {
    color: #FFFFD0;
}

.navbar a:hover {
    color: #FFFFD0;
}

.navbar a.active {
    color: #FFFFD0;
}

.navbar a.next {
    color: #FFFFD0;
}

footer {
    color: #FFFFD0;
}

#gttopbtn {
    color: #FFFFD0;
}