body::-webkit-scrollbar-thumb {
    background-color: #BAEB67;
}

body::-webkit-scrollbar-track {
    background-color: #DDF5B3;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1ISdz4hYMypuWRlc_lw7rCtrRiCSbWcZ7=w3840-h2160);
}

.navbar {
    background-color: #CBF08D;
    background-image: linear-gradient(62deg, #CBF08D 10%, #8EC5FC 110%);
}

.navbar a:hover {
    background-color: #DDF5B3;
}

.navbar a.active {
    background-color: #BAEB67;
}

.navbar a.next {
    background-color: #CBF08D;
}

footer {
    background-color: #CBF08D;
    background-image: linear-gradient(62deg, #CBF08D 10%, #8EC5FC 110%);
}

#gttopbtn {
    background-color: #BAEB67;
}

#gttopbtn:hover {
    background-color: #DDF5B3;
}

.playlist a table td img {
    max-width: 560px;
    object-fit: cover;
}

@media (max-width: 950px) {
	
	.playlist a table td img {
    max-width: 240px;
}

}

@media (max-width: 450px) {
	
	.playlist a table td img {
    max-width: 160px;
}

}