body::-webkit-scrollbar-thumb {
    background-color: #BAEB67;
}

body::-webkit-scrollbar-track {
    background-color: #DDF5B3;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1A0VYjRbXLs3CmBCvFCSZFDoribXR1AJN=w3840-h2160);
}

.navbar {
    background-color: #CBF08D;
    background-image: linear-gradient(62deg, #CBF08D 10%, #8EC5FC 110%);
}

.navbar a:hover {
    background-color: #DDF5B3;
}

.navbar a.active {
    background-color: #BAEB67;
}

.navbar a.next {
    background-color: #CBF08D;
}

footer {
    background-color: #CBF08D;
    background-image: linear-gradient(62deg, #CBF08D 10%, #8EC5FC 110%);
}

#gttopbtn {
    background-color: #BAEB67;
}

#gttopbtn:hover {
    background-color: #DDF5B3;
}

.list a table td img {
    width: 560px;
    height: 315px;
}

@media (max-width: 1400px) {

.list a table td img {
    width: 40vw;
    height: auto;
}
}
