body::-webkit-scrollbar-thumb {
    background-color: #51AA32;
}

body::-webkit-scrollbar-track {
    background-color: #A6D396;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1qvuqkT5FU6TCCG_XRluuQ9QMbxbOEitX=w3840-h2160);
}

.navbar {
    background-color: #81C16A;
}

.navbar a:hover {
    background-color: #A6D396;
}

.navbar a.active {
    background-color: #51AA32;
}

.navbar a.next {
    background-color: #81C16A;
}

footer {
    background-color: #81C16A;
}

#gttopbtn {
    background-color: #51AA32;
}

#gttopbtn:hover {
    background-color: #A6D396;
}