body::-webkit-scrollbar-thumb {
    background-color: #A7A7A7
}

body::-webkit-scrollbar-track {
    background-color: #DDDDDD
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1tryxKS_9y3IhwqugSM5_DjHnwiomDNj_=w3840-h2160);
}

.navbar {
    background-color: #C6C6C6
}

.navbar a:hover {
    background-color: #DDDDDD
}

.navbar a.active {
    background-color: #A7A7A7
}

.navbar a.next {
    background-color: #C6C6C6
}

footer {
    background-color: #C6C6C6
}

#gttopbtn {
    background-color: #A7A7A7
}

#gttopbtn:hover {
    background-color: #DDDDDD
}