body::-webkit-scrollbar-thumb {
    background-color: #99FFFF;
}

body::-webkit-scrollbar-track {
    background-color: #D3FFFF;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1L-Xg3v8BTMF-J5BctGv-nOPGVzWkBIU_=w3840-h2160);
}

.navbar {
    background-color: #B7FFFF;
}

.navbar a:hover {
    background-color: #D3FFFF;
}

.navbar a.active {
    background-color: #99FFFF;
}

.navbar a.next {
    background-color: #B7FFFF;
}

footer {
    background-color: #B7FFFF;
}

#gttopbtn {
    background-color: #99FFFF;
}

#gttopbtn:hover {
    background-color: #D3FFFF;
}

.navbar a {
    color: #000000;
}

.navbar a:hover {
    color: #000000;
}

.navbar a.active {
    color: #000000;
}

.navbar a.next {
    color: #000000;
}

footer {
    color: #000000;
}

#gttopbtn {
    color: #000000;
}