.header {
    background-image: url();
}

.navbar {
    background-color: #FFDFBA;
}

.navbar a:hover {
    background-color: #FFEBD4;
}

.navbar a.active {
    background-color: #FFC787;
}

.navbar a.next {
    background-color: #FFDFBA;
}

footer {
    background-color: #FFDFBA;
}

#gttopbtn {
    background-color: #FFC787;
}

#gttopbtn:hover {
    background-color: #FFEBD4;
}