body::-webkit-scrollbar-thumb {
    background-color: #EB6100;
}

body::-webkit-scrollbar-track {
    background-color: #F4AE7D;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1j32YIVbwnUVArcbod49DRdrPSj33MPWY=w3840-h2160);
}

.navbar {
    background-color: #F08C46;
}

.navbar a:hover {
    background-color: #F4AE7D;
}

.navbar a.active {
    background-color: #EB6100;
}

.navbar a.next {
    background-color: #F08C46;
}

footer {
    background-color: #F08C46;
}

#gttopbtn {
    background-color: #EB6100;
}

#gttopbtn:hover {
    background-color: #F4AE7D;
}