@media (max-width: 1280px) {

    .video-page {
        grid-template-columns: 80vw;
        grid-template-rows: 45vw 25px 25px 500px;
        padding: 10px;
    }

    .main-video {
        width: 80vw;
        height: 45vw;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .main-video img {
        width: 80vw;
        height: 45vw;
    }

    .iframe-container iframe {
        width: 80vw;
        height: 45vw;
    }

    #main-video-title {
        font-size: 22px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 22px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: 80vw;
        height: 500px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .main-playlist::-webkit-scrollbar {
        width: 8px;
    }

    .main-playlist::-webkit-scrollbar-thumb {
        border-radius: 8px;
    }

    .playlist-img {
        width: 160px;
        height: 90px;
        padding: 4px;
    }

    .playlist-title {
        width: calc(80vw - 160px);
        font-size: 18px;
        padding: 0 0 0 8px;
    }

}