@media (max-width: 720px) {

    .video-page {
        grid-template-columns: 98vw;
        grid-template-rows: 55.125vw 10px 10px 500px;
        padding: 4px;
    }

    .main-video {
        width: 98vw;
        height: 55.125vw;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .main-video img {
        width: 98vw;
        height: 55.125vw;
    }

    .iframe-container iframe {
        width: 98vw;
        height: 55.125vw;
    }

    #main-video-title {
        font-size: 16px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 16px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: 98vw;
        height: 500px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .playlist-img {
        width: 120px;
        height: 90px;
        padding: 2px;
    }

    .playlist-title {
        width: calc(98vw - 120px);
        font-size: 10px;
        padding: 0 0 0 6px;
    }

}