@media (max-width: 680px) {

    .video-page {
        grid-template-columns: auto;
        grid-template-rows: auto 18px 18px auto;
	    gap: 4px;
        padding: 4px;
    }

    .main-video {
        width: 95vw;
		min-width: 0;
        height: 53.4375vw;
		min-height: 0;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .main-video img {
        width: 95vw;
		min-width: 0;
        height: 53.4375vw;
		min-height: 0;
    }

    .iframe-container iframe {
        width: 95vw;
		min-width: 0;
        height: 53.4375vw;
		min-height: 0;
    }

    #main-video-title {
        font-size: 14px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #main-video-subtitle {
        font-size: 14px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .main-playlist {
        width: 95vw;
		min-width: 0;
		height: calc(100vh - 53.4375vw - 56px);
        min-height: 400px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .playlist-img {
        width: 120px;
        height: 90px;
        padding: 2px;
    }

    .playlist-title {
		width: auto;
        font-size: 10px;
        padding: 0 0 0 6px;
    }

}