body::-webkit-scrollbar-thumb {
    background-color: #778899;
}

body::-webkit-scrollbar-track {
    background-color: #BBC4CC;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1MLpX2zdfrC3wKZwK-mtsQReFHYrl4QLx=w3840-h2160);
}

.navbar {
    background-color: #9FABB7;
}

.navbar a:hover {
    background-color: #BBC4CC;
}

.navbar a.active {
    background-color: #778899;
}

.navbar a.next {
    background-color: #9FABB7;
}

footer {
    background-color: #9FABB7;
}

#gttopbtn {
    background-color: #778899;
}

#gttopbtn:hover {
    background-color: #BBC4CC;
}