body::-webkit-scrollbar-thumb {
    background-color: #FFC787;
}

body::-webkit-scrollbar-track {
    background-color: #FFEBD4;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1ujkxltAmBJ6ZDuJusZMxEJkBhJul7m3F=w3840-h2160);
}

.navbar {
    background-color: #FFDFBA;
    background-image: linear-gradient(62deg, #FFDFBA 20%, #926454 180%);
}

.navbar a:hover {
    background-color: #FFEBD4;
}

.navbar a.active {
    background-color: #FFC787;
}

.navbar a.next {
    background-color: #FFDFBA;
}

footer {
    background-color: #FFDFBA;
    background-image: linear-gradient(62deg, #FFDFBA 20%, #926454 180%);
}

#gttopbtn {
    background-color: #FFC787;
}

#gttopbtn:hover {
    background-color: #FFEBD4;
}

.navbar a {
    color: #926454;
}

.navbar a:hover {
    color: #926454;
}

.navbar a.active {
    color: #926454;
}

.navbar a.next {
    color: #926454;
}

footer {
    color: #926454;
}

#gttopbtn {
    color: #926454;
}