body::-webkit-scrollbar-thumb {
    background-color: #FF9AA3;
}

body::-webkit-scrollbar-track {
    background-color: #FFCDD1;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/10ueLjRxDRJGo3dZ2ezc1Y3aOz_dY-vMm=w3840-h2160);
}

.navbar {
    background-color: #FFB3BA;
}

.navbar a:hover {
    background-color: #FFCDD1;
}

.navbar a.active {
    background-color: #FF9AA3;
}

.navbar a.next {
    background-color: #FFB3BA;
}

footer {
    background-color: #FFB3BA;
}

#gttopbtn {
    background-color: #FF9AA3;
}

#gttopbtn:hover {
    background-color: #FFCDD1;
}