body::-webkit-scrollbar-thumb {
    background-color: #493C43;
}

body::-webkit-scrollbar-track {
    background-color: #989195;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1Bl5nmq_u8Ex6WrBCK-_XkqXJ4wAuT1nJ=w3840-h2160);
}

.navbar {
    background-color: #6D6268;
}

.navbar a:hover {
    background-color: #989195;
}

.navbar a.active {
    background-color: #493C43;
}

.navbar a.next {
    background-color: #6D6268;
}

footer {
    background-color: #6D6268;
}

#gttopbtn {
    background-color: #493C43;
}

#gttopbtn:hover {
    background-color: #989195;
}

.navbar a {
    color: #ffffff;
}

.navbar a:hover {
    color: #ffffff;
}

.navbar a.active {
    color: #ffffff;
}

.navbar a.next {
    color: #ffffff;
}

footer {
    color: #ffffff;
}

#gttopbtn {
    color: #ffffff;
}