body::-webkit-scrollbar-thumb {
    background-color: #92B3FA;
}

body::-webkit-scrollbar-track {
    background-color: #CCDBFC;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1-iAx05K2n1e_L6HpsDfuJuLccYYFHNhX=w3840-h2160);
}

.navbar {
    background-color: #AAC4FB;
}

.navbar a:hover {
    background-color: #CCDBFC;
}

.navbar a.active {
    background-color: #92B3FA;
}

.navbar a.next {
    background-color: #AAC4FB;
}

footer {
    background-color: #AAC4FB;
}

#gttopbtn {
    background-color: #92B3FA;
}

#gttopbtn:hover {
    background-color: #CCDBFC;
}