body::-webkit-scrollbar-thumb {
    background-color: #6EC0EC;
}

body::-webkit-scrollbar-track {
    background-color: #ADDBF3;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1l_N1zDzJBv-ruqz0geBbR1MX33OIwHUu=w3840-h2160);
}

.navbar {
    background-color: #8BCCEF;
}

.navbar a:hover {
    background-color: #ADDBF3;
}

.navbar a.active {
    background-color: #6EC0EC;
}

.navbar a.next {
    background-color: #8BCCEF;
}

footer {
    background-color: #8BCCEF;
}

#gttopbtn {
    background-color: #6EC0EC;
}

#gttopbtn:hover {
    background-color: #ADDBF3;
}