body::-webkit-scrollbar-thumb {
    background-color: #907D71;
}

body::-webkit-scrollbar-track {
    background-color: #C0B6AF;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/15kYm--mFl9mkMi0S2_LckbszWZ0iHOji=w3840-h2160);
}

.navbar {
    background-color: #A6978D;
}

.navbar a:hover {
    background-color: #C0B6AF;
}

.navbar a.active {
    background-color: #907D71;
}

.navbar a.next {
    background-color: #A6978D;
}

footer {
    background-color: #A6978D;
}

#gttopbtn {
    background-color: #907D71;
}

#gttopbtn:hover {
    background-color: #C0B6AF;
}