body::-webkit-scrollbar-thumb {
    background-color: #C3C3C3;
}

body::-webkit-scrollbar-track {
    background-color: #E7E7E7;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1F-h10zVm6PlTkTgN3maj3zaPW-HuzjlG=w3840-h2160);
}

.navbar {
    background-color: #DDDDDD;
}

.navbar a:hover {
    background-color: #E7E7E7;
}

.navbar a.active {
    background-color: #C3C3C3;
}

.navbar a.next {
    background-color: #DDDDDD;
}

footer {
    background-color: #DDDDDD;
}

#gttopbtn {
    background-color: #C3C3C3;
}

#gttopbtn:hover {
    background-color: #E7E7E7;
}