body::-webkit-scrollbar-thumb {
    background-color: #B0B0B0;
}

body::-webkit-scrollbar-track {
    background-color: #E3E3E3;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1GTuFJC6R3S-4r-jIRt9Sb1NghkQuKjOs=w3840-h2160);
}

.navbar {
    background-color: #DDDDDD;
}

.navbar a:hover {
    background-color: #E3E3E3;
}

.navbar a.active {
    background-color: #B0B0B0;
}

.navbar a.next {
    background-color: #DDDDDD;
}

footer {
    background-color: #DDDDDD;
}

#gttopbtn {
    background-color: #B0B0B0;
}

#gttopbtn:hover {
    background-color: #E3E3E3;
}