body::-webkit-scrollbar-thumb {
    background-color: #56B7FF;;
}

body::-webkit-scrollbar-track {
    background-color: #CCE9FF;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/14YFZXOlIzVMShY7GeHYuLnnxyTcoG3W8=w3840-h2160);
}

.navbar {
    background-color: #99D3FF;
}

.navbar a:hover {
    background-color: #CCE9FF;
}

.navbar a.active {
    background-color: #56B7FF;
}

.navbar a.next {
    background-color: #99D3FF;
}

footer {
    background-color: #99D3FF;
}

#gttopbtn {
    background-color: #56B7FF;
}

#gttopbtn:hover {
    background-color: #CCE9FF;
}