body::-webkit-scrollbar-thumb {
    background-color: #FABC2B;
}

body::-webkit-scrollbar-track {
    background-color: #FCDC93;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1vzEQxnWrm4DL-E5Fxbm575a-eHOeo1sq=w3840-h2160);
}

.navbar {
    background-color: #FBCE66;
}

.navbar a:hover {
    background-color: #FCDC93;
}

.navbar a.active {
    background-color: #FABC2B;
}

.navbar a.next {
    background-color: #FBCE66;
}

footer {
    background-color: #FBCE66;
}

#gttopbtn {
    background-color: #FABC2B;
}

#gttopbtn:hover {
    background-color: #FCDC93;
}