body::-webkit-scrollbar-thumb {
    background-color: #BAEB67;
}

body::-webkit-scrollbar-track {
    background-color: #DDF5B3;
}

.header {
    background-image: url(https://lh3.google.com/u/0/d/1QV3VUtHfaPDlNPezFabspyoVQB5FYvnO=w3840-h2160);
}

.navbar {
    background-color: #CBF08D;
}

.navbar a:hover {
    background-color: #DDF5B3;
}

.navbar a.active {
    background-color: #BAEB67;
}

.navbar a.next {
    background-color: #CBF08D;
}

footer {
    background-color: #CBF08D;
}

#gttopbtn {
    background-color: #BAEB67;
}

#gttopbtn:hover {
    background-color: #DDF5B3;
}

.playlist span table td img {
    width: 560px;
    height : auto;
}